<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrapper">

        <div class="container body-content ">
            <div class="row">
                <div class="navbar-default sidebar col-lg-3 col-md-3" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav in" id="side-menu">
                            <li>
                                <img src="~/Content/Images/balloon.jpg" style="max-width:70%" alt="logo" />
                                @*<a href="index.html" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>*@
                            </li>
                            <li>
                                <a href="#" class="btn btn-primary btn-md"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                @*<a href=" " class=""><i class="fa fa-dashboard fa-fw"></i> Patients</a>*@
                                @Html.ActionLink("My Patients","Index","Patient", new {id = ""}, null)
                                <!-- /.nav-second-level -->
                            </li>
                            <li>
                                <a href="#" class=""><i class="fa fa-table fa-fw"></i> Sign out</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-lg-9 col-md-9">
                   @RenderBody()
                <hr />
                </div>
            </div>
        </div>
    </div>
        
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/common")


    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
