@using Obalon.Models;
@using Obalon.Utils;
@model ResponseItemList<Patient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .headingButton {
        padding: 2px 4px 2px 4px;
        width: 15%;
    }

        .headingButton a {
            color: white;
            text-align: center;
            text-decoration: none !important;
        }

    .dataTables_filter {
        float: right;
        padding-right: inherit;
    }

    .dataTables_length {
        padding-left: inherit;
    }

    td {
        text-align: center;
    }

    th {
        text-align: center;
    }

    tr.selected {
   background-color :lightcyan;
    }
</style>
<div class="jumbotron">
    <div class="panel panel-default">
        <div class="panel-heading">

            <div class="panel-title">
                Patients

                <button class="btn btn-primary pull-right headingButton"><a href="/Patient/Add">NEW PATIENT</a></button>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <table id="sampleTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Gender</th>
                            <th>Age</th>
                            <th>Height (ft)</th>
                            <th>Height (inches)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patient in Model.Items)
                        {
                            <tr ondblclick="window.location.href = '/Patient/AddEvent/@patient.PatientId'" onclick="$('.selected').removeClass('selected'); $(this).addClass('selected')">
                                <td>@patient.PatientId</td>
                                <td>@(patient.Gender ? "Male" : "Female") </td>
                                <td>@patient.Age</td>
                                <td>@patient.HeightFt</td>
                                <td>@(patient.HeightIn % 12)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#sampleTable').DataTable();
        });
    </script>
}


