@model List<Obalon.Models.Patient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="panel panel-default">
        <div class="panel-heading">

            <div class="panel-title">
                Patients

                <button class="btn btn-primary pull-right headingButton"><a href="/Patient/Add">NEW PATIENT</a></button>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <table id="patientsTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Last Seen</th>
                            <th>Status</th>
                            <th>Weight Loss</th>
                            <th>Total Body Loss</th>
                            <th>BMI Change</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patient in Model)
                        {
                            <tr ondblclick="window.location.href = '/Event/Index/@patient.PatientId'" onclick="$('.selected').removeClass('selected'); $(this).addClass('selected')">
                                <td>@patient.PatientId</td>
                                <td>@patient.LastSeen</td>
                                <td>@patient.Status</td>
                                <td>@patient.WeightLoss lbs</td>
                                <td>@patient.TotalBodyLoss %</td>
                                <td>@patient.BMIChange %</td>
                                <td><span onclick="window.location.href = '/Event/Create/@patient.PatientId'" class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#patientsTable').DataTable();
        });
    </script>
}


