@using Obalon.Utils;
@using Obalon.Models;
@using System;

@model ResponseItemList<Patient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="panel panel-default">
        <div class="panel-heading">

            <div class="panel-title">
                Patients

                <button class="btn btn-primary pull-right headingButton"><a href="/Patient/Add">NEW PATIENT</a></button>
            </div>
        </div>

        <div class="panel-body">
            <div class="row">
                <table id="sampleTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Age</th>
                            @*<th>No. Events</th>*@
                            <th>Height</th>
                            <th>Gender</th>
                            <th>BMI Change</th>
                            <th>Add Event</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patient in Model.Items)
                        {
                            <tr ondblclick="window.location.href = '/Event/Index/@patient.PatientId'" onclick="$('.selected').removeClass('selected'); $(this).addClass('selected')">
                                <td>@patient.PatientId</td>
                                <td>@patient.Age</td>
                                @*<td>@((patient.Events != null) ? patient.Events.Count : 0)</td>*@
                                <td>@(string.Concat(patient.HeightFt, "''", " ", patient.HeightIn, "'"))</td>
                                <td>@(patient.Gender ? "male" : "female")</td>
                                <td>@patient.BMIChange %</td>
                                <td style="border:1px solid red;" onclick="window.location.href = '/Event/Create/@patient.PatientId'"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#sampleTable').DataTable();
        });
    </script>
}


